@tailwind base;
@tailwind components;
@tailwind utilities;

.div-neon {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  margin: 40px;
  color: #91a3ad;
  font-size: 1.5rem;
  transition: 0.5s;
  letter-spacing: 3px;
  overflow: hidden;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #d0b2);
}
.div-neon:hover {
  background: #d0b281;
  color: #000013;
  box-shadow: 0 0 5px #d0b281, 0 0 25px #d0b281, 0 0 50px #d0b281;
}
.div-neon span {
  position: absolute;
  display: block;
}
.div-neon span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #d0b281);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.div-neon span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #d0b281);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.div-neon span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #d0b281);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}
.div-neon span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #d0b281);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
